extends ../layout/layout.pug

block variables
	- var  current = 'Мой профиль'

mixin operations-history (operation)
	.operations-history_row
		.operations-history_cell.operations-history_img-info
			.operations-history_cell_img
				img(src=operation.logo_brand).operations-history_img
			.operations-history_cell_info
				span.operations-history_name_brand Покупка в&ensp;
					a(href="#")=operation.name_brand
				.operations-history_cell_price
					span Номер покупки:&ensp;
						=operation.purchase_number
					br
					span Сумма покупки:&ensp;
						=operation.purchase_price
						| ₽

		.operations-history_cell
			=operation.purchase_date
		.operations-history_cell
			span(class="operations-history_status operations-history_status-"+ operation.purchase_status_eng + "")
				=operation.purchase_status
			br
			span.operations-history_awaiting-confirmation=operation.awaiting_confirmation
		.operations-history_cell
			span(class="operations-history_bonus operations-history_bonus-" + operation.purchase_status_eng + "")
				=operation.bonus

block content
	// Информация о счете
	.content-top-info.balance
		.balance-status
			.balance-item
				span.balance-item_status.balance-item_status-available Доступно
				br
				span.balance-item_price 1875
			.balance-item
				span.balance-item_status.balance-item_status-expected Ожидаются
				br
				span.balance-item_price.balance-item_price-status-expected 170

		.balance-info
			.balance-info-item.balance-info_min-price Минимальная сумма для вывода —  300
			.balance-info-item.balance-info_conversion При выводе бонусов конвертация происходит по курсу 1 бонус = 1 рубль

		.balance-button
			a.button.btn-color-green#modal_window(href="#animatedModal") Вывести бонусы
			button.button.btn-color-gray Сообщить о проблеме


	// Основные этапы получения бонусов
	.cacheback-info
		.cacheback-info_steps.cacheback-info_steps-first
			|Сумма кэшбэка и информация о покупке появятся в Личном кабинете в течение 2 часов после покупки.
		.cacheback-info_steps.cacheback-info_steps-second
			| Обычно магазин подтверждает заказ до 4 недель. Кэшбэк будет зачислен на ваш кошелек в следующем за подтверждением месяце.
		.cacheback-info_steps.cacheback-info_steps-third
			| Информация о дате подтверждения заказа будет доступна в истории операции.


	//	Заголовок Н2
	h2 История операций

	//	История операций
	.operations-history
		.operations-history_header-table
			.operations-history_cell Информация о покупке
			.operations-history_cell Дата операции
			.operations-history_cell Статус
			.operations-history_cell Бонусы
		for operation in catalog_brands
			+operations-history(operation)

	.operations-history_button
		button.button.btn-color-green Загрузить еще операции


	//	Всплывающее окно с информацией по выводу средств
	#animatedModal
		.modal-wrapper

		.modal-container
			.close-animatedModal

			#modal-content
				// Вкладки
				ul.modal__tabs
					h3 Как вам удобно вывести?
					li.modal-tabs__icon.modal-tabs__icon-bank
						a(href="#tab-1") на банковскую карту
					li.modal-tabs__icon.modal-tabs__icon-phone
						a(href="#tab-2") на мобильный номер
					li.modal-tabs__icon.modal-tabs__icon-insurance
						a(href="#tab-3") на страховой счет

				// Содержимое вкладок
				div.modal-tabs__content-container
					div#tab-1
						.model__tabs-content
							h3 Бонусов доступно:&ensp;
								span.color-black 15 560

							form.form-enter-bonuses
								// Доступная сумма бонусов
								.enter-bonuses
									| Сумма бонусов
									sup *
									input.input.input-gray(type="text", placeholder="от 300 до 14 " +
									"999")

								// Список с номерами карт
								ul.save-list-card
									li
										input.input.input-gray#radio-card-number(type="radio",
																				name="radio-card-number"
																				value="radio-card-number-1"
																				checked)
										label(for="radio-card-number") 0000 1111 2222 4444
										a(href="#").link-delete Удалить
									li
										input.input.input-gray#radio-card-number-2(type="radio",
																					name="radio-card-number"
																					value="radio-card-number-2")
										label(for="radio-card-number-2") Добавить номер карты

								// Поле для ввода номера карты
								input.input.input-gray.input-card-number(type="text", placeholder="Введите номер карты")

								// Checkbox для сохранения номера карт
								input.input.input-gray#checkbox-save-card(type="checkbox")
								label(for="checkbox-save-card").input-small.label-save-card Сохранить номер карты

								// Блок для кнопок
								.form-enter-bonuses__button
									button.button.btn-color-green.btn-get-bonus(type="submit") Вывести


					div#tab-2
						.model__tabs-content
							h3
								span.header-grey Бонусов доступно:&ensp;
								| 17 560
					div#tab-3
						.model__tabs-content
							h3
								span.header-grey Бонусов доступно:&ensp;
								| 18 560
